In [2]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('analysis_data.csv')

In [4]:
df.head()

,Unnamed: 0,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,...,ApprovalDateYear,ChgOffDateYear,ApprovalDateMonth,DisbursementDateYear,UrbanRural_Encoded,Region,BankRegion,TermDays,LoanDateEnd,Reccession
0,0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,1997-02-28,...,1997,1970,2,1999,0,Eastern,Eastern,2520,2006-01-22,0
1,1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,1997-02-28,...,1997,1970,2,1997,0,Eastern,Eastern,1800,2002-05-05,0
2,2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,1997-02-28,...,1997,1970,2,1997,0,Eastern,Eastern,5400,2012-10-13,0
3,3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,1997-02-28,...,1997,1970,2,1997,0,Eastern,Eastern,1800,2002-06-04,0
4,4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,1997-02-28,...,1997,1970,2,1997,0,Eastern,Eastern,7200,2017-01-29,0

In [5]:
df.drop(columns=['Unnamed: 0'],axis= 1, inplace=True)

In [7]:
df.columns

Index(['LoanNr_ChkDgt', 'Name', 'City', 'State', 'Zip', 'Bank', 'BankState',
       'NAICS', 'ApprovalDate', 'ApprovalFY', 'Term', 'NoEmp', 'NewExist',
       'CreateJob', 'RetainedJob', 'FranchiseCode', 'UrbanRural', 'RevLineCr',
       'LowDoc', 'ChgOffDate', 'DisbursementDate', 'DisbursementGross',
       'BalanceGross', 'MIS_Status', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv',
       'NAICS_class_code', 'Industry', 'MIS_Status_Encoded', 'LowDoc_Encoded',
       'RevLineCr_Encoded', 'FranchiseCode_Encoded', 'NewExist_Encode',
       'RealEstate_Backed', 'ApprovalDateYear', 'ChgOffDateYear',
       'ApprovalDateMonth', 'DisbursementDateYear', 'UrbanRural_Encoded',
       'Region', 'BankRegion', 'TermDays', 'LoanDateEnd', 'Reccession'],
      dtype='object')

In [8]:
df.head()

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,ApprovalDateYear,ChgOffDateYear,ApprovalDateMonth,DisbursementDateYear,UrbanRural_Encoded,Region,BankRegion,TermDays,LoanDateEnd,Reccession
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,1997-02-28,1997,...,1997,1970,2,1999,0,Eastern,Eastern,2520,2006-01-22,0
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,1997-02-28,1997,...,1997,1970,2,1997,0,Eastern,Eastern,1800,2002-05-05,0
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,1997-02-28,1997,...,1997,1970,2,1997,0,Eastern,Eastern,5400,2012-10-13,0
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,1997-02-28,1997,...,1997,1970,2,1997,0,Eastern,Eastern,1800,2002-06-04,0
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,1997-02-28,1997,...,1997,1970,2,1997,0,Eastern,Eastern,7200,2017-01-29,0