### Observation des valeur abherents

## Point de netoyage

4. Franchise_code: very high values!
5. NAICS: Manage the zeros
iterative imputer

In [2]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

In [3]:
# Load dataset
df = pd.read_csv("SBAnational.csv")

df.head()

/var/folders/ml/v613w2ns1z31hpn87j8vcl8h0000gq/T/ipykernel_41042/1874786272.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("SBAnational.csv")

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,...,N,Y,NaN,28-Feb-99,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$48,000.00"
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,...,N,Y,NaN,31-May-97,"$40,000.00",$0.00,P I F,$0.00,"$40,000.00","$32,000.00"
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,...,N,N,NaN,31-Dec-97,"$287,000.00",$0.00,P I F,$0.00,"$287,000.00","$215,250.00"
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,...,N,Y,NaN,30-Jun-97,"$35,000.00",$0.00,P I F,$0.00,"$35,000.00","$28,000.00"
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,...,N,N,NaN,14-May-97,"$229,000.00",$0.00,P I F,$0.00,"$229,000.00","$229,000.00"

In [4]:
# Make copy of dataset
wdf = df.copy()

In [ ]:
# Check data types
wdf.dtypes

In [ ]:
wdf.describe()

In [ ]:
# View missing values matrix
msno.matrix(wdf)

In [66]:
# View columns (and the number of rows) with missing values
wdf.isna().sum()

LoanNr_ChkDgt             0
Name                      0
City                      0
State                     0
Zip                       0
Bank                      0
BankState                 0
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist               1162
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr            277255
LowDoc                 5999
ChgOffDate                0
DisbursementDate          0
DisbursementGross         0
BalanceGross              0
MIS_Status                0
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
dtype: int64

### Filter rows with missing target values

In [7]:
# Specify target column with missing rows
rows_with_missing_values = ['MIS_Status']

# Filter dataset to only include rows without missing target values
wdf = wdf[wdf[rows_with_missing_values].notna().all(axis=1)]

In [8]:
# View descriptive statistics
wdf.describe()

,LoanNr_ChkDgt,Zip,NAICS,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural
count,8.971670e+05,897167.000000,897167.000000,897167.000000,897167.000000,897033.000000,897167.000000,897167.000000,897167.000000,897167.000000
mean,4.774982e+09,53856.710734,398541.853498,110.848592,11.412562,1.280403,8.444305,10.807308,2757.528287,0.757274
std,2.537370e+09,31170.471151,263359.727579,78.900862,73.793775,0.451741,236.950249,237.382398,12767.025962,0.646540
min,1.000014e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.593070e+09,27612.000000,235210.000000,60.000000,2.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,4.363894e+09,55416.000000,445310.000000,84.000000,4.000000,1.000000,0.000000,1.000000,1.000000,1.000000
75%,6.908644e+09,83706.000000,561730.000000,120.000000,10.000000,2.000000,1.000000,4.000000,1.000000,1.000000
max,9.996003e+09,99999.000000,928120.000000,569.000000,9999.000000,2.000000,8800.000000,9500.000000,99999.000000,2.000000

In [62]:
wdf.isna().sum()

LoanNr_ChkDgt             0
Name                      0
City                      0
State                     0
Zip                       0
Bank                      0
BankState                 0
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist               1162
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr            277255
LowDoc                 5999
ChgOffDate           734729
DisbursementDate          0
DisbursementGross         0
BalanceGross              0
MIS_Status                0
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
dtype: int64

#### Clean by 'Name' column

In [10]:
# Check rows with missing name data
check_missing_name = wdf[wdf['Name'].isna()]

# check_missing_name

In [11]:
# Input unknown for rows with missing name data
wdf['Name'] = wdf['Name'].fillna('UNKNOWN NAME')

### Dealing with missing values

- Clean by 'City' column

In [12]:
# Check rows with missing city data
check_missing_city = wdf[wdf['City'].isna()]

# check_missing_city.head()

In [13]:
# View the zip code of rows with missing city data
check_missing_city['Zip'].unique()

array([84109, 70130, 60624, 60636, 92102, 44115, 63103, 63105, 63013,
       98104, 50309, 78204, 64106,  2169,  2108,  2401,  2165, 40209,
       28402, 48502])

In [14]:
# Create a dictionary to input city data based on zip code
zip_city = [84109, 70130, 60624, 60636, 
            92102, 44115, 63103, 63105, 
            63013, 98104, 50309, 78204, 
            64106,  2169,  2108,  2401,  
            2165, 40209, 28402, 48502]

city_code = ['SALT LAKE CITY', 'NEW ORLEANS', 'CHICAGO', 'CHICAGO', 
             'SAN DIEGO', 'CLEVELAND', 'ST. LOUIS', 'ST. LOUIS', 
             'BEAUFORT', 'SEATTLE', 'DES MOINES', 'SAN ANTONIO',
             'KANSAS CITY', 'BOSTON', 'BOSTON', 'FALL RIVER',
             'BOSTON', 'LOUISVILLE', 'WILMINGTON', 'FLINT']

# Create a dictionary to map zip code to city
zip_city_dict = dict(zip(zip_city, city_code))

# Input city data based on zip code
for key, value in zip_city_dict.items():
    wdf.loc[(wdf['Zip'] == key) & (wdf['City'].isna()), 'City'] = value

- Clean by 'State' column

In [ ]:
# Check rows with missing state data
check_missing_state = wdf[wdf['State'].isna()]

# check_missing_state

In [19]:
# View the zip code of rows with missing state data 
check_missing_state['Zip'].unique()

array([    0, 95682, 96205, 67219, 79925, 33410, 54205, 54025, 84124,
       65049, 75236, 76052, 76645])

In [20]:
# Create a dictionary to input state data based on zip code (state for zip code with O value is determined by its city)
state_zipcode = [0, 95682, 96205, 67219, 
                79925, 33410, 54205, 54025, 
                84124, 65049, 75236, 76052, 
                76645]

state_code = ['NY', 'CA', 'CA', 'KS',
              'TX', 'FL', 'WI', 'WI',
              'UT', 'MO', 'TX', 'TX',
              'TX']

# Create a dictionary to map city name to state
state_city_dict = dict(zip(state_zipcode, state_code))

# Input state data based on city name
for key, value in state_city_dict.items():
    wdf.loc[(wdf['Zip'] == key) & (wdf['State'].isna()), 'State'] = value

- Clean by 'Bank' column

In [28]:
# Check rows with missing bank data
check_missing_bank = wdf[wdf['Bank'].isna()]

check_missing_bank.head()

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
407,1003113008,MOUNTVILLE WALL PAPER CO,MOUNTVILLE,PA,17554,NaN,NaN,0,27-Jun-80,1980,...,N,N,4-Jun-90,25-Jul-80,"$600,000.00",$0.00,CHGOFF,"$320,976.00","$600,000.00","$499,998.00"
680,1004933009,TAYLOR BROTHERS COMPANY,CLEVELAND,OH,44114,NaN,NaN,0,8-Jul-80,1980,...,N,N,8-Feb-89,21-Aug-80,"$275,000.00",$0.00,CHGOFF,"$181,916.00","$275,000.00","$247,500.00"
16108,1117074003,ASSURED CORP/SMART DRYWALL CO.,DALLAS,TX,75220,NaN,NaN,235420,10-Apr-97,1997,...,N,Y,NaN,31-May-97,"$100,000.00",$0.00,P I F,$0.00,"$100,000.00","$80,000.00"
18188,1133353008,GALESBURG GRAIN INC,GALESBURG,KS,66740,NaN,NaN,0,15-Dec-80,1981,...,N,N,17-Mar-89,15-Dec-81,"$200,000.00",$0.00,CHGOFF,"$150,243.00","$200,000.00","$180,000.00"
27779,1209213009,"LONE STAR FORD, INC.",LONGVIEW,TX,75606,NaN,NaN,0,7-Apr-81,1981,...,N,N,30-Jul-91,22-Apr-81,"$500,000.00",$0.00,CHGOFF,"$362,262.00","$500,000.00","$450,000.00"

In [29]:
# Input unknown for rows with missing bank data
wdf['Bank'] = wdf['Bank'].fillna('UNKNOWN BANK')

- Clean by 'BankState' column

In [30]:
# Check rows with missing bankstate data
check_missing_bank_state = wdf[wdf['BankState'].isna()]

check_missing_bank_state.head()

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
407,1003113008,MOUNTVILLE WALL PAPER CO,MOUNTVILLE,PA,17554,UNKNOWN BANK,NaN,0,27-Jun-80,1980,...,N,N,4-Jun-90,25-Jul-80,"$600,000.00",$0.00,CHGOFF,"$320,976.00","$600,000.00","$499,998.00"
680,1004933009,TAYLOR BROTHERS COMPANY,CLEVELAND,OH,44114,UNKNOWN BANK,NaN,0,8-Jul-80,1980,...,N,N,8-Feb-89,21-Aug-80,"$275,000.00",$0.00,CHGOFF,"$181,916.00","$275,000.00","$247,500.00"
16108,1117074003,ASSURED CORP/SMART DRYWALL CO.,DALLAS,TX,75220,UNKNOWN BANK,NaN,235420,10-Apr-97,1997,...,N,Y,NaN,31-May-97,"$100,000.00",$0.00,P I F,$0.00,"$100,000.00","$80,000.00"
18188,1133353008,GALESBURG GRAIN INC,GALESBURG,KS,66740,UNKNOWN BANK,NaN,0,15-Dec-80,1981,...,N,N,17-Mar-89,15-Dec-81,"$200,000.00",$0.00,CHGOFF,"$150,243.00","$200,000.00","$180,000.00"
27779,1209213009,"LONE STAR FORD, INC.",LONGVIEW,TX,75606,UNKNOWN BANK,NaN,0,7-Apr-81,1981,...,N,N,30-Jul-91,22-Apr-81,"$500,000.00",$0.00,CHGOFF,"$362,262.00","$500,000.00","$450,000.00"

In [31]:
# Input unknown for rows with missing bankstate data
wdf['BankState'] = wdf['BankState'].fillna('UB')

- Clean by 'NewExist' column (to be filled by iterative imputer)

In [35]:
pd.set_option('display.max_columns', None)

# Check rows with missing newexist data
check_missing_new_exist = wdf[wdf['NewExist'].isna()]

check_missing_new_exist.head()

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
395231,3808405000,J.W.Chipping Corp,BETHLEHEM,NH,3574,FIRST COLEBROOK BANK,NH,423310,15-Dec-09,2010,72,7,NaN,0,7,0,2,N,N,NaN,15-Dec-09,"$117,000.00",$0.00,P I F,$0.00,"$117,000.00","$99,450.00"
399884,3854945010,D & R Foods Inc.,INDIANOLA,MS,38751,TRUSTMARK NATIONAL BANK,MS,445110,13-Jan-10,2010,38,20,NaN,0,20,0,2,N,N,NaN,1-Feb-10,"$150,000.00",$0.00,P I F,$0.00,"$150,000.00","$135,000.00"
400052,3856405005,"Luna Design Group, Inc.",LYNNFIELD,MA,1940,PEOPLE'S UNITED BANK,CT,541310,14-Jan-10,2010,73,4,NaN,0,4,0,1,N,N,NaN,25-Mar-10,"$25,000.00",$0.00,P I F,$0.00,"$25,000.00","$25,000.00"
400203,3857955008,Lisbon Market Inc,LISBON,OH,44432,THE CITIZENS SAVINGS BANK,OH,445110,15-Jan-10,2010,84,0,NaN,25,0,0,1,N,N,NaN,15-Jan-10,"$350,000.00",$0.00,P I F,$0.00,"$350,000.00","$175,000.00"
400300,3858915009,"George F. Gales, Jr. MD",QUINCY,MA,2170,EASTERN BANK,MA,621111,15-Jan-10,2010,84,2,NaN,0,2,0,1,Y,N,NaN,1-Apr-10,"$52,395.00",$0.00,P I F,$0.00,"$50,000.00","$25,000.00"

In [ ]:
# Input NaN for rows with missing newexist data
wdf['NewExist'] = wdf['NewExist'].fillna(0.0)
wdf['NewExist'] = wdf['NewExist'].replace({0.0: np.nan})

- Clean by 'RevLineCr' column (to be filled by iterative imputer)

In [46]:
# Input NaN for rows with "other" values in the RevLineCr' data
wdf['RevLineCr'] = wdf['RevLineCr'].replace(r'[0T1R`2C,37A5.4Q\-]', np.nan, regex=True)

In [52]:
# View counts of unique values in RevLineCr column
wdf['RevLineCr'].value_counts(dropna=False)

RevLineCr
N      419252
NaN    277255
Y      200660
Name: count, dtype: int64

- Clean by 'LowDoc' column (to be filled by iterative imputer)

In [53]:
# Replace values without "Y" or "N" with NA
wdf['LowDoc'] = wdf['LowDoc'].replace(r'[0CSAR1]',np.nan, regex=True)

In [54]:
# View counts of unique values in LowDoc column
wdf['LowDoc'].value_counts(dropna=False)

LowDoc
N      780997
Y      110171
NaN      5999
Name: count, dtype: int64

- Clean by 'DisbursementDate' column

In [ ]:
check_missing_disbursement_data = wdf[wdf['DisbursementDate'].isna()]

# check_missing_disbursement_data.head()

In [57]:
# Replace 'DisbursementDate' with 'ApprovalFY' if missing
wdf['DisbursementDate'] = np.where(wdf['DisbursementDate'].isna(), wdf['ApprovalFY'], wdf['DisbursementDate'])

In [68]:
wdf.head()

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,84,4,2.0,0,0,1,0,N,Y,1970-01-01 00:00:00,28-Feb-99,60000.0,0.0,P I F,0.0,60000.0,48000.0
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,60,2,2.0,0,0,1,0,N,Y,1970-01-01 00:00:00,31-May-97,40000.0,0.0,P I F,0.0,40000.0,32000.0
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,180,7,1.0,0,0,1,0,N,N,1970-01-01 00:00:00,31-Dec-97,287000.0,0.0,P I F,0.0,287000.0,215250.0
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,60,2,1.0,0,0,1,0,N,Y,1970-01-01 00:00:00,30-Jun-97,35000.0,0.0,P I F,0.0,35000.0,28000.0
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,240,14,1.0,7,7,1,0,N,N,1970-01-01 00:00:00,14-May-97,229000.0,0.0,P I F,0.0,229000.0,229000.0

#### Clean by 'ChgOffDate' column

In [65]:
# Replace 'ChgOffDate' with a default date '01-Jan-1970' if missing
wdf['ChgOffDate'] = np.where(wdf['ChgOffDate'].isna(), pd.to_datetime('01-Jan-1970', format='%d-%b-%Y'), wdf['ChgOffDate'])

### String and Numerical Data manipulations

- Convert columns with monetary values to integer

In [ ]:
# Convert columns with monetary values to integers by removing decimal places and dollar signs
# to standardize the format and optimize storage for calculations.

list_monetary_integers = ['DisbursementGross', 'GrAppv', 'BalanceGross', 'SBA_Appv', 'ChgOffPrinGr']

wdf[list_monetary_integers] = round(wdf[list_monetary_integers].replace(r'[$,]', '', regex=True).astype(float), 2)

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,84,4,2.0,0,0,1,0,N,Y,1970-01-01 00:00:00,28-Feb-99,60000.0,0.0,P I F,0.0,60000.0,48000.0
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,60,2,2.0,0,0,1,0,N,Y,1970-01-01 00:00:00,31-May-97,40000.0,0.0,P I F,0.0,40000.0,32000.0
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,180,7,1.0,0,0,1,0,N,N,1970-01-01 00:00:00,31-Dec-97,287000.0,0.0,P I F,0.0,287000.0,215250.0
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,60,2,1.0,0,0,1,0,N,Y,1970-01-01 00:00:00,30-Jun-97,35000.0,0.0,P I F,0.0,35000.0,28000.0
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,240,14,1.0,7,7,1,0,N,N,1970-01-01 00:00:00,14-May-97,229000.0,0.0,P I F,0.0,229000.0,229000.0

- Remove trailing spaces

In [ ]:
# Remove spaces in 'MIS_STATUS' column
wdf['MIS_Status'] = wdf['MIS_Status'].apply(lambda x: str(x).replace(" ", ""))

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,84,4,2.0,0,0,1,0,N,Y,1970-01-01 00:00:00,28-Feb-99,60000.0,0.0,PIF,0.0,60000.0,48000.0
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,60,2,2.0,0,0,1,0,N,Y,1970-01-01 00:00:00,31-May-97,40000.0,0.0,PIF,0.0,40000.0,32000.0
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,180,7,1.0,0,0,1,0,N,N,1970-01-01 00:00:00,31-Dec-97,287000.0,0.0,PIF,0.0,287000.0,215250.0
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,60,2,1.0,0,0,1,0,N,Y,1970-01-01 00:00:00,30-Jun-97,35000.0,0.0,PIF,0.0,35000.0,28000.0
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,240,14,1.0,7,7,1,0,N,N,1970-01-01 00:00:00,14-May-97,229000.0,0.0,PIF,0.0,229000.0,229000.0

### Encoding data & adding more columns

- Map NAICS code to actvity type

In [ ]:
# Get the first two digits of the NAICS code
wdf['NAICS_class_code'] = wdf['NAICS'].apply(lambda x: int(str(x)[:2]) if pd.notna(x) and len(str(x)) >= 2 else 81)

In [ ]:
# Map NAICS code to industry
wdf['Industry'] = wdf['NAICS_class_code'].map({
    11: "Agriculture, forestry, fishing and hunting",
    21: "Mining, Quarrying, and oil and gas extraction",
    22: "Utilities",
    23: "Construction",
    31: "Manufacturing",
    32: "Manufacturing",
    33: "Manufacturing",
    42: "Wholesale trade",
    44: "Retail trade",
    45: "Retail trade",
    48: "Transportation and warehousing",
    49: "Transportation and warehousing",
    51: "Information",
    52: "Finance and insurance",
    53: "Real estate and rental and leasing",
    54: "Professional, scientific, and technical services",
    55: "Management of companies and enterprises",
    56: "Administrative and support and waste management and remediation services",
    61: "Educational services",
    62: "Health care and social assistance",
    71: "Arts, enternaiment, and recreation",
    72: "Accommodation and food services",
    81: "Other services", 
    92: "Public administration",
    })

- Encode MIS_STATUS

In [99]:
wdf['MIS_Status_Encoded'] = wdf['MIS_Status'].map({'PIF': 1, 'CHGOFF': 0})

- Encode LowDoc

In [102]:
wdf['LowDoc_Encoded'] = wdf['LowDoc'].map({'Y': 1, 'N': 0}, na_action='ignore')

In [103]:
wdf.head()

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv,NAICS_class_code,Industry,MIS_Status_Encoded,LowDoc_Encoded
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,84,4,2.0,0,0,1,0,N,Y,1970-01-01 00:00:00,28-Feb-99,60000.0,0.0,PIF,0.0,60000.0,48000.0,45,Retail trade,1,1.0
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,60,2,2.0,0,0,1,0,N,Y,1970-01-01 00:00:00,31-May-97,40000.0,0.0,PIF,0.0,40000.0,32000.0,72,Accommodation and food services,1,1.0
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,180,7,1.0,0,0,1,0,N,N,1970-01-01 00:00:00,31-Dec-97,287000.0,0.0,PIF,0.0,287000.0,215250.0,62,Health care and social assistance,1,0.0
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,60,2,1.0,0,0,1,0,N,Y,1970-01-01 00:00:00,30-Jun-97,35000.0,0.0,PIF,0.0,35000.0,28000.0,81,Other services,1,1.0
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,240,14,1.0,7,7,1,0,N,N,1970-01-01 00:00:00,14-May-97,229000.0,0.0,PIF,0.0,229000.0,229000.0,81,Other services,1,0.0