### Observation des valeur abherents

## Point de netoyage

1. DisbursementGross: virgule + point . Convert to integer.
2. ChrgOffDate: valeur marquants.
3. MIS_STATUS: N/A
4. Franchise_code: very high values!
5. NAICS: Manage the zeros
6. strip MIS_STATUS : spaces 
7. strip GrAppv,SBA_Appv: spaces + "$"
8.

In [2]:
# Import Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Load dataset

df = pd.read_csv("SBAnational.csv")

df.head(5)

/var/folders/ml/v613w2ns1z31hpn87j8vcl8h0000gq/T/ipykernel_42096/2203392169.py:3: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("SBAnational.csv")

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,...,N,Y,NaN,28-Feb-99,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$48,000.00"
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,...,N,Y,NaN,31-May-97,"$40,000.00",$0.00,P I F,$0.00,"$40,000.00","$32,000.00"
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,...,N,N,NaN,31-Dec-97,"$287,000.00",$0.00,P I F,$0.00,"$287,000.00","$215,250.00"
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,...,N,Y,NaN,30-Jun-97,"$35,000.00",$0.00,P I F,$0.00,"$35,000.00","$28,000.00"
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,...,N,N,NaN,14-May-97,"$229,000.00",$0.00,P I F,$0.00,"$229,000.00","$229,000.00"

In [5]:
# Make copy of dataset
wdf = df.copy()

In [10]:
wdf.isna().sum()

LoanNr_ChkDgt             0
Name                     14
City                     30
State                    14
Zip                       0
Bank                   1559
BankState              1566
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                136
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr              4528
LowDoc                 2582
ChgOffDate           736465
DisbursementDate       2368
DisbursementGross         0
BalanceGross              0
MIS_Status             1997
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
dtype: int64

In [11]:
wdf.dtypes

LoanNr_ChkDgt          int64
Name                  object
City                  object
State                 object
Zip                    int64
Bank                  object
BankState             object
NAICS                  int64
ApprovalDate          object
ApprovalFY            object
Term                   int64
NoEmp                  int64
NewExist             float64
CreateJob              int64
RetainedJob            int64
FranchiseCode          int64
UrbanRural             int64
RevLineCr             object
LowDoc                object
ChgOffDate            object
DisbursementDate      object
DisbursementGross     object
BalanceGross          object
MIS_Status            object
ChgOffPrinGr          object
GrAppv                object
SBA_Appv              object
dtype: object

In [13]:
name_missing = wdf[wdf['Name'].isna()]

name_missing.head(5)

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
272,1002095005,NaN,Logan,UT,84321,JPMORGAN CHASE BANK NATL ASSOC,IL,421910,17-Feb-98,1998,...,0,N,NaN,31-Mar-00,"$50,000.00",$0.00,P I F,$0.00,"$50,000.00","$25,000.00"
409,1003125003,NaN,Cobleskill,NY,12043,KEYBANK NATIONAL ASSOCIATION,OH,0,11-Sep-98,1998,...,Y,N,NaN,30-Apr-99,"$100,000.00",$0.00,P I F,$0.00,"$100,000.00","$50,000.00"
465,1003575009,NaN,Tarrytown,NY,10591,KEYBANK NATIONAL ASSOCIATION,OH,541512,23-Feb-99,1999,...,Y,N,NaN,31-May-99,"$100,000.00",$0.00,P I F,$0.00,"$100,000.00","$50,000.00"
466,1003585001,NaN,Mahopac,NY,10541,KEYBANK NATIONAL ASSOCIATION,OH,311920,4-Mar-99,1999,...,N,N,NaN,31-Mar-99,"$25,000.00",$0.00,P I F,$0.00,"$25,000.00","$12,500.00"
51439,1395235010,NaN,Morton,IL,61550,HEARTLAND BK & TR CO,IL,811219,1-Aug-05,2005,...,N,N,NaN,31-Aug-06,"$150,000.00",$0.00,P I F,$0.00,"$150,000.00","$75,000.00"

In [14]:
bankname_missing = wdf[wdf['Bank'].isna()]

bankname_missing.head(5)

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
407,1003113008,MOUNTVILLE WALL PAPER CO,MOUNTVILLE,PA,17554,NaN,NaN,0,27-Jun-80,1980,...,N,N,4-Jun-90,25-Jul-80,"$600,000.00",$0.00,CHGOFF,"$320,976.00","$600,000.00","$499,998.00"
611,1004503009,SMITHFIELD GLASS INC,DANIELSON,CT,6239,NaN,NaN,0,7-Jul-80,1980,...,N,N,22-May-90,NaN,$0.00,$0.00,NaN,"$144,461.00","$300,000.00","$300,000.00"
680,1004933009,TAYLOR BROTHERS COMPANY,CLEVELAND,OH,44114,NaN,NaN,0,8-Jul-80,1980,...,N,N,8-Feb-89,21-Aug-80,"$275,000.00",$0.00,CHGOFF,"$181,916.00","$275,000.00","$247,500.00"
740,1005273003,"GENERAL SOLAR COMPANY, INC.",SIOUX CITY,IA,51111,NaN,NaN,0,3-Jul-80,1980,...,N,N,8-Feb-90,NaN,$0.00,$0.00,NaN,"$142,666.00","$350,000.00","$350,000.00"
6569,1044653002,SON'S PARTY STORE,KENTWOOD,MI,49508,NaN,NaN,0,11-Sep-80,1980,...,N,N,27-Oct-93,NaN,$0.00,$0.00,NaN,"$18,775.00","$20,000.00","$20,000.00"